.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    margin: 2rem 4rem 1rem 4rem;
}

.dashboardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    margin: 2rem 4rem 1rem 4rem;
}
